.settings-container {
    position: absolute;
    width: 100%;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.994);
    border-top: 2px solid rgb(203, 200, 200);
    z-index: 5;
    transition: all ease-in-out 1s;
}


.settings-container-hidden {
    position: absolute;
    width: 100%;
    height: 150px;
    margin-top: -235px;
    opacity: 0;
    z-index: 5;
    transition: all ease-in-out 1s;
    overflow: hidden;
}

.settings-container h2 {
    padding-top: 10px;
    margin: 0;
}


.all-switch {
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 30px;
}

.switch {
    position: relative;
    display: inline-block;
}

.switch-for {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch-for h3 {
    margin-bottom: 10px;
}

.switch label {
    width: 300px;
    height: 30px;
    display: block;
    position: relative;
    background:rgba(98, 207, 244, 1) ;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.switch label:after {
    content: '';
    width: 142px;
    height: 25px;
    position: absolute;
    top: 2.5px;
    left: 4px;
    background: white;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.switch input {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
}

.switch input:checked + .switch label {
    background-color: #242424;
}
.switch input:checked + label:after {
    transform: translateX(106%);
}

.switch label:active:after {
    width: 40px;
}

.switch-btn-name {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    z-index: 6;
}

.switch-btn-name .name-dv h3 {
    margin: auto;
 
}

.name-dv {
    width: 100%;
    display: flex;
}

