.landing-page-container{
    height: 100%;
    position: relative;
}

.landing-page-loading{
    position: absolute;
    width: 100%;
}

.landing-page-container-1 {
    position: relative;
    display: flex;
    padding: 30px;
    padding-bottom: 0;
    justify-content: center;
}

.geolocation {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 500px;
    min-height: 200px;
    border-radius: 20px;
    margin: 0px 30px 30px 0;
    margin-right: 0;
    padding: 20px;
    box-shadow: inset 5px 5px 15px  rgba(0,0,0,0.3),inset -5px -5px 15px rgba(255,255,255,0.3);
}


.geolocation .city h2 {
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}

.geolocation .city .date-time p {
    text-align: left;
    font-size: 12px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}

.geolocation .degree p  {
    text-align: left;
    font-size: 40px;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 0;
}

.condition img{
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    
}


.weather-outlook {
    position: relative;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    margin: 0px 0 30px 30px;
    padding: 20px;
    box-shadow: inset 5px 5px 15px  rgba(0,0,0,0.3),inset -5px -5px 15px rgba(255,255,255,0.3);
}

.header {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: left;
    color:     rgba(98, 207, 244, 1) ;
}

.outlook-time-degree {
    display: flex;
    text-align: left;
    justify-content: space-between;
}

.hourly-details{
    border-right: solid 1px grey;
    padding-right: 10px;
    padding-left: 10px;
}

.hourly-details:last-child {
    border: none;
    padding: 0;
    padding-left: 10px;
}

.hourly-details h6 {
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.hourly-details h4 {
    font-weight: 800;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

.other-outlook-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.other-outlook-info h6 {
    margin: 0;
    font-weight: 800;
    margin-bottom: 5px;
    text-align: left;
}

.other-outlook-info h4 {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: 800;
}

.landing-page-container-2 {
    display: flex;
    justify-content: center;
    padding: 0 30px 30px 30px;
}

.current-weather-condition {
    position: relative;
    width: 400px;
    height: fit-content;
    border-radius: 20px;
    margin: 0px 30px 0px 0px;
    padding: 20px;
    box-shadow: inset 5px 5px 15px  rgba(0,0,0,0.3),inset -5px -5px 15px rgba(255,255,255,0.3);
}

.info{
    margin-top: 20px;
    text-align: left;
}



.header2 {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: left;
    color:     rgba(98, 207, 244, 1) ;
}

.future-forecast {
    position: relative;
    width: 310px;
    min-height: 140px;
    border-radius: 20px;
    margin: 0px 0px 0px 0px;
    padding: 20px;
    box-shadow: inset 5px 5px 15px  rgba(0,0,0,0.3),inset -5px -5px 15px rgba(255,255,255,0.3);
}

.future-forecast:last-child {
    margin: 0px 0px 0px 30px;
}


/* media queries */

@media (width <= 1120px){
   .avg-temp{
    width: 50%;
   }
   .rain-chance{
    width: 34%;
   }

   .max-wind{
    width: 50%;
   }

   .avg-vis{
    width: 34%;
   }

   .humidity{
    width: 34%;
   }

   .current-weather-condition{
    min-height: 210px;
   }
} 


@media (width <= 1109px){

    .landing-page-container-1 {
        position: relative;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .geolocation{
        width: 580px;
    }

    .weather-outlook{
        margin-left: 0;
    }
}

@media (width <= 1109px){

    .current-weather-condition{
        min-height: 220px;
    }
}

@media (width <= 1040px){
    .wind{
        width: 30%;
    }

    .vis{
        width: 30%;
    }
    
    .vis{
        width: 30%;
    }

    .hum{
        width: 30%;
    }

    .uv{
        width: 59%;
    }
}

@media (width <= 953px){
    .astronomy .info {
        margin-right:10px ;
    }

    .rain-chance{
    width: 40%;
    }

    .avg-vis{
    width: 40%;
    }

    .humidity{
    width: 40%;
    }
}


@media (width <= 827px){
    .current-weather-condition{
        min-height: 245px;
    }
}


/* phones */


@media (width <= 450px){
    .geolocation{
        width: 82vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .weather-outlook{
        width: 82vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .hourly-details:first-child{
        padding-left: 0;
    }

    .landing-page-container-1{
        padding: 0;
        align-items: center;
    }

    .landing-page-container-2{
        display: grid;
        margin: 0;
        padding: 0;
        align-items: center;
    }

    .current-weather-condition{
        width: 82vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .future-forecast{
        width: 82vw;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 20px !important;
    }
}


